:root {
    --orange: #E06E3C;
    --blue: #3964e8;
}

/* General */

h1 {
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    font-size: 48px;
    margin-top: 50px;
}

h1>span {
    color: var(--orange);
}

section {
    width: 100%;
    max-width: 1295px;
    margin: auto;
}

/* General Atelier */

.atelier {
    border: dashed var(--orange) 4px;
    margin-top: 100px;
}

.atelier>h2 {
    font-size: 32px;
    color: var(--blue);
    width: 90%;
    margin: auto;
    padding: 24px 0;
}

.atelier>h2>span {
    color: var(--orange);
}

.atelier>h3 {
    color: var(--blue);
    font-size: 32px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 32px;
}

.atelier>h3>span {
    color: var(--orange);
}

.atelier>p {
    color: var(--blue);
    font-size: 32px;
    width: 90%;
    margin: auto;
    margin-top: 32px;
}

/* Atelier 1 */

.atelier:nth-child(1) {
    height: 457px;
    color: #fff;
}

.atelier:nth-child(1)>nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 90%;
    margin: auto;
    background-color: var(--blue);
    height: 63px;
}

.atelier:nth-child(1)>nav>p {
    font-size: 32px;
}

.atelier:nth-child(1)>nav>ul {
    display: flex;
    font-size: 20px;
    gap: 29px;
}

/* Atelier 2 */

.atelier:nth-child(2)>.carousel {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.atelier:nth-child(2)>.carousel>.card {
    display: grid;
    gap: 8px;
    border: solid 4px var(--orange);
    border-radius: 15px;
}

.atelier:nth-child(2)>.carousel>.card>img {
    width: 100%;
}

.atelier:nth-child(2)>.carousel>.card>p {
    margin: auto;
    min-height: 92px;
    width: 90%;
    font-size: 13px;
}

.atelier:nth-child(2)>.carousel>.card>p>span {
    color: var(--blue);
}

.atelier:nth-child(2)>.carousel>.card>footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 21px 0;
    width: 90%;
    color: var(--orange);
    font-size: 20px;
    font-weight: 600;
}